{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% from "govuk/components/panel/macro.njk" import govukPanel %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% extends "../partials/layout.njk" %}

{% set pageTitle = applicationName + " - " + pageHeading %}
{% set mainClasses = "app-container govuk-body" %}

{% block content %}

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            {{ govukPanel({
                titleText: "Application complete"
            }) }}

            <p>We have sent you a confirmation email.</p>

            <h2>What happens next</h2>

            <p>Your CAS-2 referral has been sent to Nacro, the housing provider.</p>
            <p>They will be in touch to confirm whether they have any suitable accommodation for your applicant, or to ask for more information.</p>

            {{ govukButton({
                text: "Start new application",
                href: '/'
                })
            }}

        </div>
    </div>
{% endblock %}
