{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% from "govuk/components/panel/macro.njk" import govukPanel %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% extends "../partials/layout.njk" %}

{% set pageTitle = applicationName + " - " + pageHeading %}
{% set mainClasses = "app-container govuk-body" %}

{% block content %}

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            {{ govukPanel({
                titleText: "Application complete"
            }) }}

            <ul class="govuk-list govuk-list--spaced">
                <li>
                    <span class="govuk-!-font-weight-bold">Application ID: </span>{{ application.id }}</li>
                <li>
                    <span class="govuk-!-font-weight-bold">Applicant name: </span>{{ application.person.name }}</li>
                <li>
                    <span class="govuk-!-font-weight-bold">Prison number: </span>{{ application.person.nomsNumber }}</li>
            </ul>

            <h2>What happens next</h2>

            <p>This application has been sent to the CAS-2 team for review.</p>
            <p>The CAS-2 team will make an assessment and decide whether to offer a placement.</p>
            <p>You may need to provide more information if the CAS-2 team does not have everything they need to make an asessment.</p>
            <p><a class="govuk-link" rel="noreferrer noopener" target="_blank" href="{{ PhaseBannerUtils.feedbackSurveyUrl }}">Share your feedback for this service</a> (opens in new tab) to help us improve it.</p>

            {{ govukButton({
                text: "Start new application",
                href: '/'
                })
            }}

        </div>
    </div>
{% endblock %}
