{%- from "moj/components/sub-navigation/macro.njk" import mojSubNavigation -%}
{% from "govuk/components/tabs/macro.njk" import govukTabs %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "../partials/showErrorSummary.njk" import showErrorSummary %}
{% from "../components/formFields/form-page-input/macro.njk" import formPageInput %}
{% from "govuk/components/table/macro.njk" import govukTable %}
{% from "govuk/components/notification-banner/macro.njk" import govukNotificationBanner %}
{% from "../partials/table.njk" import applicationsTable %}
{% from "../partials/applicationSoftDeleteGuidance.njk" import softDeleteGuidance %}

{% extends "../partials/layout.njk" %}

{% set pageTitle = applicationName + " - " + pageHeading  %}
{% set mainClasses = "app-container govuk-body" %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">Your CAS-2 applications</h1>
      {% if successMessages %}
        {% for message in successMessages %}
          {{ govukNotificationBanner({
                html: '<h3 class="govuk-!-margin-top-2">' + message + '</h3>',
                type: 'success',
                titleId: 'success-title'
              }) }}
        {% endfor %}
      {% endif %}

      {{ showErrorSummary(errorSummary) }}

      {{ mojSubNavigation({
          label: 'Sub navigation',
          items: [{
            text: 'Your applications',
            href: paths.applications.index(),
            active: true
          }, {
            text: "Your prison's applications",
            href: paths.applications.prison()
          }]
        }) }}

      {{ govukTabs({
        items: [
          {
            label: "In progress",
            id: "applications",
            panel: {
              html: applicationsTable(
                "In progress", 
                [
                  {
                    text: "Person"
                  },
                  {
                  text: "Prison number"
                  },
                  {
                    text: "Case reference number (CRN)"
                  },
                  {
                    text: "Date started"
                  },
                  {
                    text: "Actions"
                  }
                ],
                inProgressApplicationTableRows(applications.inProgress)
              )
            }
          },
          {
            label: "Submitted",
            id: "submitted",
            panel: {
              html: applicationsTable(
              "Submitted", 
              [
                {
                  text: "Person"
                },
                {
                  text: "Prison number"
                },
                {
                  text: "Case reference number (CRN)"
                },
                {
                  text: "Date submitted"
                }
                ,
                {
                  text: "Status"
                }
              ],
              submittedApplicationTableRows(applications.submitted))
            }
          }
        ]
        })
      }}

      {{ softDeleteGuidance() }}

      <a class="govuk-button" href="{{ paths.applications.beforeYouStart() }}">Start a new application</a>
    </div>
  </div>

{% endblock %}