{%- from "moj/components/sub-navigation/macro.njk" import mojSubNavigation -%}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "../partials/showErrorSummary.njk" import showErrorSummary %}
{% from "../components/formFields/form-page-input/macro.njk" import formPageInput %}
{% from "govuk/components/table/macro.njk" import govukTable %}

{% extends "../partials/layout.njk" %}

{% set pageTitle = applicationName + " - " + pageHeading  %}
{% set mainClasses = "app-container govuk-body" %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">Applications</h1>

      {% if applications.length %}

        <h2>Current applications</h2>
            {{
              govukTable({
                  caption: title,
                  captionClasses: "govuk-table__caption--m",
                  firstCellIsHeader: true,
                  head: [
                    {
                      text: "Person"
                    },
                    {
                      text: "CRN"
                    }
                  ],
                  rows: dashboardTableRows(applications)
                })
            }}
      
      {% endif %}

      <h2>New applications</h2>
      <form action="{{ paths.applications.people.find() }}" method="post">
        <input type="hidden" name="_csrf" value="{{ csrfToken }}"/>
        

        {{ showErrorSummary(errorSummary) }}

        {{
          formPageInput(
            {
              label: {
                text: "Enter the person's CRN",
                classes: "govuk-label--m",
                isPageHeading: true
              },
              hint: {
                html: "<p>Enter the CRN for the person needing an AP placement.</p><p>We'll import their details into your application.</p>
                 <p>For example, a CRN is DO16821</p>"
              },
              classes: "govuk-input--width-10",
              fieldName: "crn"
            },
            fetchContext()
          )
        }}

        {{ govukButton({
                    name: 'submit',
                    text: "Save and continue"
                }) }}
      </form>
    </div>
  </div>

{% endblock %}