{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "../partials/showErrorSummary.njk" import showErrorSummary %}
{% from "../components/formFields/form-page-input/macro.njk" import formPageInput %}

{% extends "../partials/layout.njk" %}

{% set pageTitle = applicationName + " - " + pageHeading  %}
{% set mainClasses = "app-container govuk-body" %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-three-quarters">
      <form action="{{ paths.applications.people.find() }}" method="post" autocomplete="off">
        <input type="hidden" name="_csrf" value="{{ csrfToken }}"/>

        {{ showErrorSummary(errorSummary) }}

        {{
          formPageInput(
            {
              label: {
                text: "Enter the person's prison number",
                classes: "govuk-label--l",
                isPageHeading: true
              },
              hint: {
                text: "For example, DO16821"
              },
              classes: "govuk-input--width-10 govuk-input--extra-letter-spacing",
              fieldName: "prisonNumber"
            },
            fetchContext()
          )
        }}

        {{ govukButton({
            name: 'submit',
            text: "Search for applicant"
        }) }}
      </form>
    </div>
  </div>
{% endblock %}