{% extends "../partials/layout.njk" %}
{%- from "moj/components/sub-navigation/macro.njk" import mojSubNavigation -%}
{% from "govuk/components/pagination/macro.njk" import govukPagination %}
{% from "../partials/table.njk" import applicationsTable %}
{% from "../partials/applicationSoftDeleteGuidance.njk" import softDeleteGuidance %}

{% set pageTitle = applicationName + " - your prison's applications" %}
{% set mainClasses = "app-container govuk-body" %}

{% block content %}

    {% include 'partials/plannedMaintenanceBanner.njk' %}

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-l">Your prison's CAS2 HDC applications</h1>

            {{ mojSubNavigation({
                label: 'Sub navigation',
                items: [{
                    text: 'Your applications',
                    href: paths.applications.index()
                }, {
                    text: "Your prison's applications",
                    href: paths.applications.prison(),
                    active: true
                }]
            }) }}

            {% if transferredIn and transferredIn.length > 0 %}
                <h2 class="govuk-heading-m">Transferred-in applications</h2>

                <p>View CAS2 for HDC applications recently transferred to your prison, which need to be allocated to a
                    prison offender manager.</p>

                <div class="govuk-!-margin-bottom-9">
                    {{ applicationsTable(
                        "",
                        [
                            {
                                text: "Person"
                            },
                            {
                                text: "Prison number"
                            },
                            {
                                text: "HDC eligibility date"
                            },
                            {
                                text: "Status"
                            }
                        ],
                        transferredIn) }}
                </div>
            {% endif %}

            <h2 class="govuk-heading-m">All allocated applications</h2>

            <p>View recent allocated applications.</p>

            {{ applicationsTable(
                "",
                [
                    {
                        text: "Person"
                    },
                    {
                        text: "Prison number"
                    },
                    {
                        text: "Application owner"
                    },
                    {
                        text: "HDC eligibility date"
                    },
                    {
                        text: "Status"
                    }
                ],
                prisonDashboardTableRows(applications)) }}

            {{ govukPagination(pagination(pageNumber, totalPages, hrefPrefix)) }}

            {{ softDeleteGuidance() }}

        </div>
    </div>

{% endblock %}
