{% extends "../partials/layout.njk" %}
{%- from "moj/components/sub-navigation/macro.njk" import mojSubNavigation -%}
{% from "govuk/components/pagination/macro.njk" import govukPagination %}
{% from "../partials/table.njk" import applicationsTable %}
{% from "../partials/applicationSoftDeleteGuidance.njk" import softDeleteGuidance %}

{% set pageTitle = applicationName + " - your prison's applications"  %}
{% set mainClasses = "app-container govuk-body" %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">Your prison's CAS-2 applications</h1>

      {{ mojSubNavigation({
          label: 'Sub navigation',
          items: [{
            text: 'Your applications',
            href: paths.applications.index()
          }, {
            text: "Your prison's applications",
            href: paths.applications.prison(),
            active: true
          }]
        }) }}

      <p>View recent applications from this prison for Short-Term Accommodation (CAS-2).</p>

      {{applicationsTable(
        "", 
        [
          {
            text: "Person"
          },
          {
            text: "Prison number"
          },
          {
            text: "Application owner"
          },
          {
            text: "HDC eligibility date"
          },
          {
            text: "Status"
          }
        ],
        prisonDashboardTableRows(applications))
      }}

      {{ govukPagination(pagination(pageNumber, totalPages, hrefPrefix)) }}

      {{ softDeleteGuidance() }}

    </div>
  </div>

{% endblock %}
