{% from "../../../components/formFields/form-page-input/macro.njk" import formPageInput %}

{% extends "../layout.njk" %}
{% block questions %}
  <span class="govuk-caption-l">{{ page.title }}</span>

  {{
    formPageRadios(
      {
        fieldName: "hasParentalOrCarerResponsibilities",
        fieldset: {
          legend: {
            text: page.questions.hasParentalOrCarerResponsibilities.question,
            isPageHeading: true,
            classes: "govuk-fieldset__legend--l"
          }
        },
        items: page.items()
      },
      fetchContext()
    )
  }}
{% endblock %}