{% from "../../../components/formFields/form-page-input/macro.njk" import formPageInput %}

{% extends "../layout.njk" %}
{% block questions %}
  {% set pageTitleHTML %}
    <span class="govuk-caption-l">{{ page.title }}</span>
    {{ page.questions.religion.question }}
  {% endset%}

  {% set optionalReligion %}
  {{
      formPageInput(
        {
          label: { text: page.questions.otherReligion.question},
          classes: "govuk-input--width-20",
          fieldName: "optionalReligion"
        },
        fetchContext()
      )
    }}
  {% endset -%}

  {{
    formPageRadios(
      {
        fieldName: "religion",
        fieldset: {
          legend: {
            html: pageTitleHTML,
            isPageHeading: true,
            classes: "govuk-fieldset__legend--l"
          }
        },
        items: page.items(optionalReligion)
      },
      fetchContext()
    )
  }}
{% endblock %}
