{% from "../../../components/formFields/form-page-input/macro.njk" import formPageInput %}

{% extends "../layout.njk" %}
{% block questions %}
  <span class="govuk-caption-l">{{ page.title }}</span>
  <h1 class="govuk-heading-l">{{ page.heading }}</h1>

  {{
    formPageRadios(
      {
        fieldName: "sex",
        fieldset: {
          legend: {
            text: page.questions.sex.question,
            isPageHeading: false,
            classes: "govuk-fieldset__legend--m"
          }
        },
        items: page.sexItems()
      },
      fetchContext()
    )
  }}

  {% set optionalGenderIdentity %}
  {{
      formPageInput(
        {
          label: { text: page.questions.optionalGenderIdentity.question},
          classes: "govuk-input--width-20",
          fieldName: "optionalGenderIdentity"
        },
        fetchContext()
      )
    }}
  {% endset -%}

  {{
    formPageRadios(
      {
        fieldName: "gender",
        fieldset: {
          legend: {
            text: page.questions.gender.question,
            isPageHeading: false,
            classes: "govuk-fieldset__legend--m"
          }
        },
        items: page.genderItems(optionalGenderIdentity)
      },
      fetchContext()
    )
  }}
{% endblock %}