{% extends "../layout.njk" %}
{% block questions %}

  {{
    formPageRadios(
      {
        fieldName: "willAnswer",
        fieldset: {
          legend: {
            text: page.questions.willAnswer,
            isPageHeading: true,
            classes: "govuk-fieldset__legend--l"
          }
        },
        hint: {
            html: '<p class="govuk-hint">These questions are optional. The CAS-2 team uses equality data to understand who uses this service.</p>
                  <p class="govuk-hint">The answers will not affect their application.</p>'
        },
        items: page.items()
      },
      fetchContext()
    )
  }}

  {{ govukDetails({
      summaryText: "Why we ask equality questions",
      html: '<p>Equality data is used to understand the demographics of people applying for Short-Term Accommodation (CAS-2). This data is also included in an annual equalities report.</p>'
    }) }}
{% endblock %}
