{% from "govuk/components/select/macro.njk" import govukSelect %}
{% from "govuk/components/fieldset/macro.njk" import govukFieldset %}
{% extends "../layout.njk" %}

{% block questions %}

  {{
    govukSelect({
      label: {
        text: page.questions.immigrationStatus.question,
        classes: "govuk-label--l",
        isPageHeading: true
      },
      hint: {
        text: page.questions.immigrationStatus.hint
      },
      attributes: {
        'data-testid': 'immigrationStatus'
      },
      id: "immigrationStatus",
      name: "immigrationStatus",
      items: page.immigrationStatusSelectItems,
      errorMessage: errors.immigrationStatus
    })
  }}

{% endblock %}
