{% from "govuk/components/select/macro.njk" import govukSelect %}
{% from "govuk/components/fieldset/macro.njk" import govukFieldset %}
{% extends "../layout.njk" %}

{% block questions %}

  {% call govukFieldset({
    legend: {
      text: page.questions.immigrationStatus.question,
      classes: "govuk-fieldset__legend--l",
      isPageHeading: true
    }
  })%}

    {{
      govukSelect({
        hint: {
          text: page.questions.immigrationStatus.hint
        },
        attributes: {
          'data-testid': 'immigrationStatus'
        },
        id: "immigrationStatus",
        name: "immigrationStatus",
        items: page.immigrationStatusSelectItems,
        errorMessage: errors.immigrationStatus
      })
    }}

  {% endcall %}

{% endblock %}
