
{%- from "moj/components/timeline/macro.njk" import mojTimeline -%}

{% macro timeline(timelineEvents) %}

  <div class="moj-timeline">

    {% for event in timelineEvents %}
      <div class="moj-timeline__item">
        <div class="moj-timeline__header">
          {% if loop.first %}
            <span class="moj-timeline__latest">Latest activity</span>
            <br>
          {% endif %}
          <h3 class="moj-timeline__title">{{event.label.text}}</h3>
          <p class="moj-timeline__byline">by {{event.byline.text}}</p>
        </div>

        <p class="moj-timeline__date">
          <time datetime="{{event.datetime.timestamp}}">{{ event.datetime.date }}</time>
        </p>

        {% if event.description.text %}
          <p class="moj-timeline__description">
            {{ event.description.text | safe }}
          </p>
        {% endif %}
      </div>
    {% endfor %}

  </div>

{% endmacro %}
