{% macro softDeleteGuidance() %}

  <p>Applications which meet the following criteria are not shown in the dashboard:
      <ul>
      <li>those where the Conditional Release Date is in the past</li>
      <li>submitted applications where more than 32 days has elapsed since the application status was changed to 'Referral withdrawn', 'Referral cancelled' or 'Awaiting arrival'</li>
    </ul>
  </p>

{% endmacro %}
