{% from "govuk/components/notification-banner/macro.njk" import govukNotificationBanner %}

{% if closureBanner %}
    {% set html %}
        <h3 class="govuk-notification-banner__heading">You can apply for CAS2 for HDC until 26 August 2026</h3>
        <p class="govuk-body">From Thursday 27 August 2026, you will no longer be able to submit new applications and receive an offer online. There will be a separate application for people on youth sentences.</p>
    {% endset %}

    {{ govukNotificationBanner({
        html: html,
        classes: 'govuk-!-width-two-thirds'
    }) }}
{% endif %}
