{% macro noLongerApply() %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1>You can no longer apply for CAS2 for HDC</h1>

      <p>You cannot submit new applications.</p>

      <p><a class="govuk-link" href="{{ paths.applications.index() }}">View past applications</a></p>
    </div>
  </div>

{% endmacro %}
