<div class='copy-text__container'>
  <div id='drug-alcohol-questions-template'>
    <p>The applicant has indicated that they are engaged with support for a drug or alcohol need.</p>

    <ol>
      <li>What substance(s) did/do they take?</li>
      <li>How often do they take it, by what method, and how much?</li>
      <li>Are they engaged with a drug and alcohol service in custody? Please name it.</li>
      <li>Are they prescribed a substitute medication for their substance? Please name it.</li>
    </ol>
  </div>

  <button id="drug-alcohol-questions-button" class="govuk-button copy-text__button">Copy text</button>
</div>
