<div class='copy-text__container'>
    <div id='drug-alcohol-questions-template'>
        <p>The applicant has indicated that they are engaged with support for a drug or alcohol need.</p>

        <ol>
            <li>What substance(s) do they take in custody? Include how often they take it, by what method and how much.</li>
            <li>Did they have any past issues with substance misuse before custody? Include previous substance misuse that support may be needed for on release. For example, relapse prevention support, substitute medication or risk of overdose</li>
            <li>Are they engaged with a drug and alcohol service in custody?</li>
            <li>Is there an intention to refer them to a drug and alcohol service when they are released? If possible, state the service name.</li>
            <li>Are they prescribed a substitute medication for their substance? If possible, state which medication.</li>
            <li>Are they being released with naloxone?</li>
        </ol>
    </div>

    <button id="drug-alcohol-questions-button" class="govuk-button copy-text__button">Copy text</button>
</div>