<div class='copy-text__container'>
  <div id="health-questions-template">
    <ol>
      <li>Do they have any physical health needs? Please describe them and the level of severity.</li>
      <li>Are they currently receiving any medical treatment for their physical health needs? If so, please describe it.</li>
      <li>Are they currently taking any medication for their physical health needs? If so, please provide details.</li>
      <li>Can they climb stairs?</li>
      <li>Can they live independently?</li>
      <li>What support is required?</li>
    </ol>
  </div>

  <button id="health-questions-button" class="govuk-button copy-text__button">Copy text</button>
</div>
