<div class='copy-text__container'>
  <div id="health-questions-template">
    <ol>
      <li>Do they have any physical health needs? For example, needing a mobility scooter, stair lift, wet room, grip rails in the shower or bath, or wider door frames and ramps. If yes, describe their physical health needs.</li>
      <li>Can they climb stairs?</li>
      <li>Are they currently receiving any medical treatment for their physical health needs? If yes, describe their medical treatment.</li>
      <li>Are they currently taking any medication for their physical health needs? If yes, describe their medication.</li>
      <li>Can they live independently? If not, explain why they cannot live independently.</li>
      <li>Do they require any additional support? If yes, describe the type of support.</li>
    </ol>
  </div>

  <button id="health-questions-button" class="govuk-button copy-text__button">Copy text</button>
</div>
