<div class='copy-text__container'>
  <div id="introduce-yourself-template">
    <p>Hello,</p>

    <p>My name is {Name}, a {Role} working at HMP {prison name}.</p>

    <p>I need to confirm {Applicant name}'s health needs on release for their application for Short-Term Accommodation (CAS-2).</p>

    <p>{Applicant} gave their consent on {Consent obtained date} for me to reach out to you. Let me know if you need further evidence of consent before sharing information with me.</p>

    <p>Without their health needs, their application cannot be processed. Please respond with the following details as soon as possible:</p>
  </div> 

  <button id="introduce-yourself-button" class="govuk-button copy-text__button">Copy text</button>
</div>
