<p>Hello,</p>

<p>My name is {Name}, a {Role} working at the {Location}.</p>

<p>I am currently supporting {Applicant name} with an application for Short-Term Accommodation (CAS-2) and require some healthcare information that you can help me with.</p>

<p>{Applicant} has given their consent for me to reach out to you on {Consent obtained date}. Please let me know if you need to see evidence of this consent before sharing information with me.</p>

<p>If possible, it would be much appreciated if you could respond back with the following details:</p>
