<div class='copy-text__container'>
  <div id="mental-health-questions-template">
    <ol>
      <li>Do they have any mental health needs? If yes, describe their mental health needs and how they are presenting.</li>
      <li>Were they engaged in mental health services before custody? If yes, state which services.</li>
      <li>Are they engaged with any mental health services in custody?</li>
      <li>If they have mental health medication, can they manage it on release? If yes, provide relevant medication notes, such as storage requirements. If no, describe issues they have with taking their medication and provide relevant medication notes.</li>
    </ol>
  </div>

  <button id="mental-health-questions-button" class="govuk-button copy-text__button">Copy text</button>
</div>
