{% macro applicationSummary(summary) %}
  <div id="application-summary">
    <h2 class="govuk-heading-m">
      Application summary
    </h2>

    <ul class="govuk-list govuk-list--spaced">
        <li>
          <span class="govuk-!-font-weight-bold">Application ID: </span>{{ summary.id }}
        </li>
      {% if summary.name %}
        <li>
          <span class="govuk-!-font-weight-bold">Applicant name: </span>{{ summary.name }}
        </li>
      {% endif %}
      {% if summary.prisonNumber %}
      <li>
        <span class="govuk-!-font-weight-bold">Prison number: </span>{{ summary.prisonNumber }}
      </li>
      {% endif %}
      {% if summary.prisonName %}
      <li>
        <span class="govuk-!-font-weight-bold">Prison: </span>{{ summary.prisonName }}
      </li>
      {% endif %}
      <li>
        <span class="govuk-!-font-weight-bold">Referrer name: </span>{{ summary.referrerName }}
      </li>
      {% if summary.contactEmail %}
        <li>
          <span class="govuk-!-font-weight-bold">Contact email address:</span>
          <a href="mailto:{{ summary.contactEmail }}">{{ summary.contactEmail }}</a>
        </li>
      {% endif %}
      {% if summary.submissionDate %}
          <li>
            <span class="govuk-!-font-weight-bold">Submission date:</span>
            {{ formatDate(summary.submissionDate, {format: 'medium'}) }}
          </li>
      {% endif %}
      {% if summary.contactNumber %}
        <li>
          <span class="govuk-!-font-weight-bold">Contact number: </span>{{ summary.contactNumber }}
        </li>
      {% endif %}
    </ul>
  </div>
{% endmacro %}
