$govuk-global-styles: true;
$path: "/assets/images/";

$moj-page-width: 1170px;
$govuk-page-width: $moj-page-width;

@import 'govuk/all';
@import 'moj/all';

@import './components/header-bar';
@import './components/task-list';
@import './components/risk-widgets';

@import 'assets/scss/local';
