$govuk-global-styles: true;
$path: '/assets/images/';

$moj-page-width: 1170px;
$govuk-page-width: $moj-page-width;

@import 'govuk/all';
@import 'moj/all';

@import './components/header-bar';
@import './components/task-list';
@import './components/copy-text';
@import './components/rosh-widget';
@import './components/summary-card';
@import './components/tag';
@import './components/checkboxes';

@import './pages//oasys-import';

@import 'assets/scss/local';

.govuk-panel--fail {
  background-color: #d4351c;
  color: #ffffff;
}

.alternative-id-documents {
  .govuk-checkboxes__divider {
    width: 100%;
    text-align: left;
    font-weight: bold;
    margin-top: govuk-spacing(3);
    margin-bottom: govuk-spacing(3);
  }
}

@media print {
  .print__hidden {
     visibility: hidden;
  }
}
