$govuk-global-styles: true;
$path: '/assets/images/';

$moj-page-width: 1170px;
$govuk-page-width: $moj-page-width;

@import 'govuk/all';
@import 'moj/all';

@import './components/header-bar';
@import './components/copy-text';
@import './components/rosh-widget';
@import './components/summary-card';
@import './components/tag';
@import './components/checkboxes';
@import './components/timeline';
@import './components/status-box';
@import './components/side-nav';
@import './components/submitted-application-panel';

@import './pages//oasys-import';
@import './pages/dashboard-index';

@import 'assets/scss/local';

.govuk-panel--fail {
  background-color: #d4351c;
  color: #ffffff;
}

.alternative-id-documents {
  .govuk-checkboxes__divider {
    width: 100%;
    text-align: left;
    font-weight: bold;
    margin-top: govuk-spacing(3);
    margin-bottom: govuk-spacing(3);
  }
}

.print__show {
  display: none;
}

@media print {
  .print__hidden {
    display: none;
  }

  .print__show {
    display: block;
  }
}
