{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}

{% extends "../../partials/layout.njk" %}
{% from "../../partials/showErrorSummary.njk" import showErrorSummary %}
{% from "../../partials/applicationCurrentStatus.njk" import applicationCurrentStatus %}

{% set pageTitle = applicationName + " - " + pageHeading %}
{% set mainClasses = "app-container govuk-body" %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: paths.statusUpdate.new({ id: application.id })
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {{ applicationCurrentStatus(currentStatus) }}

      <form action="{{ paths.statusUpdateDetails.create({id: application.assessment.id, statusName: camelToKebabCase(statusName)}) }}?applicationId={{application.id}}" method="post" autocomplete="off">
        <input type="hidden" name="_csrf" value="{{ csrfToken }}"/>
        <input type="hidden" name="newStatus" value="{{ statusName }}"/>

        {{ showErrorSummary(errorSummary) }}

        {% if statusName === 'moreInfoRequested' %}
          {{ govukCheckboxes({
            name: "newStatusDetails",
            fieldset: {
              legend: {
                text: questionText,
                isPageHeading: true,
                classes: "govuk-fieldset__legend--l"
              }
            },
            errorMessage: errors.newStatusDetails,
            items: applicationStatusDetailOptions(statusDetails, application.assessment.statusUpdates)
          }) }}
        {% else %}
          {{ govukRadios({
            name: "newStatusDetails",
            fieldset: {
              legend: {
                text: questionText,
                isPageHeading: true,
                classes: "govuk-fieldset__legend--l"
              }
            },
            errorMessage: errors.newStatusDetails,
            items: applicationStatusDetailOptions(statusDetails, application.assessment.statusUpdates)
          }) }}
        {% endif %}

        <div class="govuk-button-group">
          {{ govukButton({
            text: "Save and continue"
          }) }}

          <a href="{{ paths.submittedApplications.overview({ id: application.id }) }}">Back to application overview</a>
        </div>

      </form>
    </div>
  </div>
{% endblock %}