{% extends "../layout.njk" %}
{% from "govuk/components/details/macro.njk" import govukDetails %}
{% from "../../../components/formFields/form-page-checkboxes/macro.njk" import formPageCheckboxes %}
{% from "../../../components/formFields/form-page-input/macro.njk" import formPageInput %}

{% block questions %}
  {% set otherID %}
  {{  
    formPageInput(
      {
        label: { text: page.questions.other.question, classes: "govuk-label--s"},
        classes: "govuk-input",
        fieldName: "other"
      },
      fetchContext()
    )
  }}
  {% endset -%}

  {{ 
    formPageCheckboxes(
        {
          fieldName: "alternativeIDDocuments",
          fieldset: {
            legend: {
              text: page.title,
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
          },
          hint: {
            html: page.hintHtml
          },
          classes: "alternative-id-documents",
          items: page.items(otherID)
        }, 
        fetchContext()
    ) 
  }}

  {{ govukDetails({
    summaryText: "Why we need ID",
    html: page.guidanceHtml
  }) }}

{% endblock %}

{% block extraScripts %}
  <script type="text/javascript" nonce="{{ cspNonce }}">
    function setCheckedToFalseById(id) {
      document
        .getElementById(id)
        .checked = false;
    }

    function clearValueByIds(ids) {
      ids.forEach(id => {
        document
          .getElementById(id)
          .value = ''
      })
    }

    document.addEventListener('DOMContentLoaded', function () {
      // 'no' checkbox sets the others to unchecked
      document
        .getElementById('alternativeIDDocuments-35')
        .addEventListener('click', () => {
          document
            .querySelectorAll('.govuk-checkboxes__input:not(#alternativeIDDocuments-35)')
            .forEach(checkbox => checkbox.checked = false)
        });
      // clicking any arrangement checkbox sets 'no' to unchecked
      document
        .querySelectorAll('.govuk-checkboxes__input:not(#alternativeIDDocuments-35)')
        .forEach(checkbox => {
          checkbox.addEventListener('click', () => setCheckedToFalseById('alternativeIDDocuments-35'));
        })
    });
  </script>
{% endblock %}
