{% extends "../layout.njk" %}
{% block questions %}
  <h1 class="govuk-heading-l">{{ page.questions.fundingSource }}</h1>

  {{
    formPageRadios(
      {
        fieldName: "fundingSource",
        items: page.items()
      },
      fetchContext()
    )
  }}
{% endblock %}