.status-box {
  display: inline-block;
  padding: 0.75rem;
  border: 1px solid govuk-colour('dark-grey');
}

.status-box-tag {
  max-width: 230px;
  margin-left: 0.3rem;
  padding-left: 1rem;
  padding-right: 1rem;
}
