.submitted-application-panel {
  text-align: left;
  background: govuk-colour('blue');
  color: govuk-colour('white');

  & &__text {
    color: govuk-colour('white');
    @include govuk-media-query($media-type: print) {
      color: govuk-colour('black');
    }

    &:focus {
      color: govuk-colour('black');
    }
  }

  @include govuk-media-query($media-type: print) {
    padding-left: 0;

    h1 {
      @include govuk-font($size: 36);
    }

    * {
      color: govuk-colour('black');
    }
  }
}
