.submitted-application-panel {
  @include govuk-responsive-margin(7, "bottom");

  text-align: left;
  background: govuk-colour('blue');

  @include govuk-media-query($media-type: print) {
    background-color: govuk-colour('white');
    margin-bottom: 0;
  }
  color: govuk-colour('white');

  & &__text {
    color: govuk-colour('white');
    @include govuk-media-query($media-type: print) {
      color: govuk-colour('black');
    }

    &:focus {
      color: govuk-colour('black');
    }
  }

  @include govuk-media-query($media-type: print) {
    padding-left: 0;

    h1 {
      @include govuk-font($size: 36);
    }

    * {
      color: govuk-colour('black');
    }
  }
}
