

.moj-timeline__latest {
    background: #ffdd00; 
    padding: .25rem .5rem;
    font-weight: 700;
    font-size: 1rem !important;
    line-height: 1.25 !important;
    display: inline-block !important;
    margin-bottom: 10px !important;
}