{% from "govuk/components/warning-text/macro.njk" import govukWarningText %}
{% from "govuk/components/notification-banner/macro.njk" import govukNotificationBanner %}

{% extends "../layout.njk" %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="{{ columnClasses | default("govuk-grid-column-two-thirds") }}">
      <h1 class="govuk-heading-l govuk-!-margin-bottom-4">{{ page.title }}</h1>
      <p class="govuk-body">An Assessment, Care in Custody and Teamwork (ACCT) 
          is a tailored plan to support someone in prison at risk of self harm or suicide.</p>
      <form action="{{ paths.applications.update({ id: applicationId }) }}?_method=PUT" method="post">
        <input type="hidden" name="_csrf" value="{{ csrfToken }}"/>
        <input type="hidden" name="pageName" value="{{ page.name }}"/>
        <input type="hidden" name="taskData" value="{{ page.taskData }}"/>
        <input type="hidden" name="taskName" value="{{ page.taskName }}"/>

        {{ showErrorSummary(errorSummary) }}

        {{
          formPageTextArea(
            {
             fieldName: 'acctData[][acctDetails]',
             label: {
                text: page.questions.acctDetail.question,
                classes: "govuk-label--s"
              }
             },
            fetchContext()
          )
        }}

        {% block button %}

          {{ govukButton({
                text: "Save and add ACCT"
            }) }}

        {% endblock %}
      </form>
    </div>
  </div>

{% endblock %}