{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% extends "./_risk-to-self-screen.njk" %}
{% set pageName = "acct" %}

{% block questions %}
  <p class="govuk-body">An Assessment, Care in Custody and Teamwork (ACCT) is a tailored plan to 
  support someone in prison at risk of self harm or suicide.</p>

  <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

  {% if page.accts | length %}

    {% for acct in page.accts %}

      {{ govukSummaryList({
      card: {
        title: {
          text: acct.title
        },
        actions: {
          items: [
            {
              href: acct.removeLink,
              text: "Remove",
              visuallyHiddenText: 'ACCT note "' + acct.title + '"'
            }
          ]
        }  
      },
      rows: [
        {
          key: {
            text: "Referring institution:"
          },
          value: {
            html: acct.referringInstitution
          }
        },
        {
          key: {
            text: "Details"
          },
          value: {
            html: acct.acctDetails | formatLines
          }
        }
      ]
    }) }}

    {% endfor %}

  {% else %}
    <p class="govuk-body govuk-!-font-weight-bold">No ACCT notes have been added.</p>
  {% endif %}

  <div>
    {{ govukButton({
      text: "Add an ACCT note",
      classes: "govuk-button--secondary",
      href: paths.applications.pages.show({ id: applicationId, task: 'risk-to-self', page: 'acct-data' })
    }) }}
  </div>

{% endblock %}

{% block button %}
  <div class="govuk-button-group">
    {{ govukButton({
        text: "Save and continue"
        })}}
  </div>
{% endblock %}
