{% extends "./_risk-to-self-screen.njk" %}
{% set pageName = "additional-information" %}

{% block questions %}
  {{
      formPageTextArea(
        {
          fieldName: 'additionalInformationDetail',
          label: {
            text: page.questions.additionalInformationDetail.question,
            classes: "govuk-label--s"
          }
        },
        fetchContext()
      )
  }}
{% endblock %}