{% from "govuk/components/inset-text/macro.njk" import govukInsetText %}
{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}

{% extends "./_risk-to-self-screen.njk" %}
{% from "../../../partials/dateOfOasysImport.njk" import dateOfOasysImport %}

{% set pageName = "current-risk" %}

{% block questions %}
  {% if page.importDate %}
    {% set date = page.importDate %}
    {{dateOfOasysImport(date)}}
  {% endif %}

  {{
      formPageTextArea(
        {
          fieldName: 'currentRiskDetail',
          label: {
            text: page.questions.currentRiskDetail.question,
            classes: "govuk-label--s"
          },
          hint: {
            text: 'Include all current risk information and remove sensitive information, such as names and addresses.'
          }
        },
        fetchContext()
      )
  }}

  {{ govukInsetText({
    text: "If the OASys record was out of date, you should update the record in OASys too."
  }) }}

  {{ govukCheckboxes({
        idPrefix: "confirmation",
        name: "confirmation",
        items: page.items()
    }, 
    fetchContext()
    ) 
  }}
{% endblock %}