{% from "govuk/components/inset-text/macro.njk" import govukInsetText %}
{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}

{% extends "./_risk-to-self-screen.njk" %}
{% from "../../../partials/dateOfOasysImport.njk" import dateOfOasysImport %}

{% set pageName = "current-risk" %}

{% block questions %}
  {% if page.importDate %}
    {% set date = page.importDate %}
    {{dateOfOasysImport(date)}}
  {% endif %}

  {% set currentRiskDetailHintHtml %}
  <p class="govuk-hint">If known, provide details including:</p>

  <ul class="govuk-list govuk-list--bullet govuk-hint">
    <li>
        whether they are assessed as being at imminent risk of self harm or suicide and require ongoing monitoring to reduce the risk
      </li>
    <li>
        methods of self harm
      </li>
    <li>
        methods of attempted suicide
      </li>
    <li>
        the last recent incident of self harm or suicide 
      </li>
    <li>
        how often self harming or suicide attempts happens
      </li>
    <li>
        how severe their self harming or suicide attempts are. For example, if an incident required an emergency response
      </li>
    <li>
        triggers for self harm or suicide attempts
      </li>
    <li>
        signs of increased risk for self harm or suicide attempts
      </li>
  </ul>

  <p class="govuk-hint">Remove sensitive information, such as names and addresses.</p>
  {% endset %}

  {{
      formPageTextArea(
        {
          fieldName: 'currentRiskDetail',
          label: {
            text: page.questions.currentRiskDetail.question,
            classes: "govuk-label--m"
          },
          hint: {
            html: currentRiskDetailHintHtml
          }
        },
        fetchContext()
      )
  }}

  {% if page.hasOasysRecord %}
    {{ govukInsetText({
      text: "If you have noticed information in OASys is out of date, you should tell the person responsible for updating OASys."
    }) }}
  {% endif %}

  {{ govukCheckboxes({
        idPrefix: "confirmation",
        name: "confirmation",
        errorMessage: errors.confirmation,
        items: page.items()
    }, 
    fetchContext()
    ) 
  }}
{% endblock %}
