{% extends "./_risk-to-self-screen.njk" %}
{% set pageName = "current-risk" %}

{% block questions %}
  {{
      formPageTextArea(
        {
          fieldName: 'currentRiskDetail',
          label: {
            text: page.questions.currentRiskDetail.question,
            classes: "govuk-label--s"
          }
        },
        fetchContext()
      )
  }}
{% endblock %}