{%- from "moj/components/side-navigation/macro.njk" import mojSideNavigation -%}

{% extends "../layout.njk" %}

{% set columnClasses = "govuk-grid-column-full" %}

{% block content %}
  <div class="govuk-grid-row" id="{{ pageName }}">
    <div class="govuk-grid-column-full">
      <h1 class="govuk-heading-l govuk-!-margin-bottom-2">{{ page.title }}</h1>
      <a href="{{ paths.applications.pages.show({ id: applicationId, task: 'risk-of-serious-harm', page: 'summary' }) }}" class="govuk-link govuk-link--no-visited-state govuk-!-font-size-19">
        View RoSH summary
      </a>
    </div>
  </div>

  <div class="govuk-grid-row govuk-!-margin-top-4">
    <div class="govuk-grid-column-one-third">
      {{ mojSideNavigation({
          items: [{
            text: 'Risk to others',
            href: paths.applications.pages.show({ id: applicationId, task: 'risk-of-serious-harm', page: 'risk-to-others' }),
            active: (pageName === 'risk-to-others')
          }, {
            text: 'Risk management arrangements',
            href: paths.applications.pages.show({ id: applicationId, task: 'risk-of-serious-harm', page: 'risk-management-arrangements' }),
            active: (pageName === 'risk-management-arrangements')
          }, {
            text: 'Cell share information',
            href: paths.applications.pages.show({ id: applicationId, task: 'risk-of-serious-harm', page: 'cell-share-information' }),
            active: (pageName === 'cell-share-information')
          }, {
            text: 'Additional risk information',
            href: paths.applications.pages.show({ id: applicationId, task: 'risk-of-serious-harm', page: 'additional-risk-information' }),
            active: (pageName === 'additional-risk-information')
          }]
        }) }}
    </div>

    <div class="govuk-grid-column-two-thirds govuk-!-padding-top-4">
      {{ super() }}
    </div>

  </div>
{% endblock %}
