{% extends "./_risk-of-serious-harm-screen.njk" %}
{% set pageName = "behaviour-notes" %}

{% block questions %}
  <h1 class="govuk-heading-l">{{ page.title }}</h1>

  <p class="govuk-body">
    Behaviour notes
  </p>

{% endblock %}