{% from "govuk/components/notification-banner/macro.njk" import govukNotificationBanner %}
{% from "govuk/components/warning-text/macro.njk" import govukWarningText %}
{% from "../../../components/formFields/form-page-date-input/macro.njk" import formPageDateInput %}

{% extends "../layout.njk" %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="{{ columnClasses | default("govuk-grid-column-three-quarters") }}">
      <h1 class="govuk-heading-l govuk-!-margin-bottom-4">{{ page.title }}</h1>
      <div class="govuk-body">
        <p>Behaviour notes are positive or negative notes about an applicant's behaviour.</p>

        <p>You should share behaviour notes from the last year, or over any period of time if they show a pattern of behaviour. Add one behaviour note at a time.</p>

        <p>Examples of behaviour notes could be:</p>

        <ul>
          <li>issues with working or being managed by a specific gender of staff</li>
          <li>inappropriate comments or behaviour</li>
          <li>P-Nomis alerts</li>
          <li>protective factors, such as positive relationships, employment and goals</li>
        </ul>

        {{ govukDetails({
              summaryText: "What protective factors are",
              text: "Protective factors can counteract negative influences. Individual protective factors include education, employment, leisure activities, goals and ambitions. Community and family protective factors include receiving professional support and having positive (prosocial) relationships."
        }) }}
      </div>
      <form id="form" action="{{ paths.applications.appendToList({ id: applicationId, task: page.taskName, page: page.name }) }}?_method=PUT" method="post">
        <input type="hidden" name="_csrf" value="{{ csrfToken }}"/>

        {{ showErrorSummary(errorSummary) }}

        {{
            formPageTextArea(
              {
                fieldName: "behaviourDetail",
                label: {
                  text: page.questions.behaviourDetail.question,
                  classes: "govuk-label--m"
                },
                hint: {
                  text: page.questions.behaviourDetail.hint
                }
              },
              fetchContext()
            )
        }}

        <div>
          {{ govukButton({
            id: "add-another",
            text: "Save and add another",
            classes: "govuk-button--secondary"
          }) }}
        </div>

        {% block button %}
          <div class="govuk-button-group">
            {{ govukButton({
                  text: "Save and add behaviour note"
              }) }}
            <a class="govuk-link" href="{{ paths.applications.pages.show({ id: applicationId, task: 'risk-of-serious-harm', page: 'behaviour-notes' }) }}">
                Cancel
            </a>
          </div>
        {% endblock %}
      </form>
    </div>
  </div>

{% endblock %}

{% block extraScripts %}
  <script type="text/javascript" nonce="{{ cspNonce }}">
    function addRedirect(event) {
      const form = document.getElementById('form')
      form.action = form.action + '&redirectPage=behaviour-notes-data'
    }

    document.addEventListener('DOMContentLoaded', function () {
      document
        .getElementById('add-another')
        .addEventListener('click', (event) => addRedirect(event));
    });
  </script>
{% endblock %}