{% extends "./_risk-of-serious-harm-screen.njk" %}
{% set pageName = "cell-share-information" %}

{% block questions %}
  <h1 class="govuk-heading-l">{{ page.title }}</h1>

  <p class="govuk-body">
    Cell share information
  </p>

{% endblock %}