{% extends "./_risk-of-serious-harm-screen.njk" %}
{% set pageName = "cell-share-information" %}

{% block questions %}
  {% set cellShareInformationDetail %}
  {{
        formPageTextArea(
          {
            fieldName: 'cellShareInformationDetail',
            label: {
              text: page.questions.cellShareInformationDetail.question,
              classes: "govuk-label--s"
            }
          },
          fetchContext()
        )
    }}
  {% endset %}

  {{
    formPageRadios(
      {
        fieldName: "hasCellShareComments",
        fieldset: {
          legend: {
            text: page.questions.hasCellShareComments.question,
            classes: "govuk-fieldset__legend--m"
          }
        },
        hint: {
          text: "This includes anything that could affect others if sharing accommodation. For example, racial alerts and history of drug supply."
        },
        items: [
          {
            value: "yes",
            text: "Yes",
            conditional: {
              html: cellShareInformationDetail
            }
          },
          {
            value: "no",
            text: "No"
          }
        ]
      },
      fetchContext()
    )
  }}

  {% endblock %}