{% extends "./_risk-of-serious-harm-screen.njk" %}
{% set pageName = "reducing-risk" %}

{% block questions %}
  <h1 class="govuk-heading-l">{{ page.title }}</h1>

  <p class="govuk-body">
    Reducing risk
  </p>

{% endblock %}