{% from "govuk/components/inset-text/macro.njk" import govukInsetText %}
{% extends "./_risk-of-serious-harm-screen.njk" %}
{% from "../../../partials/dateOfOasysImport.njk" import dateOfOasysImport %}

{% set pageName = "risk-factors" %}

{% block questions %}
  {% if page.importDate %}
    {{dateOfOasysImport(page.importDate)}}
  {% endif %}

  {{
      formPageTextArea(
        {
          fieldName: 'circumstancesLikelyToIncreaseRisk',
          label: {
            text: page.questions.circumstancesLikelyToIncreaseRisk.question,
            classes: "govuk-label--m"
          }
        },
        fetchContext()
      )
  }}

  {{
      formPageTextArea(
        {
          fieldName: 'whenIsRiskLikelyToBeGreatest',
          label: {
            text: page.questions.whenIsRiskLikelyToBeGreatest.question,
            classes: "govuk-label--m"
          },
          hint: {
            text: page.questions.factorsLikelyToReduceRisk.hint
          }
        },
        fetchContext()
      )
  }}

  {{ govukInsetText({
    text: "If you have noticed information in OASys is out of date, you should tell the person responsible for updating OASys."
  }) }}

  {{ 
      formPageCheckboxes(
          {
            fieldName: "confirmation",
            items: page.items()
          }, 
          fetchContext()
      ) 
  }}

{% endblock %}
