{% from "govuk/components/details/macro.njk" import govukDetails %}
{% from "../../../components/roshWidget/macro.njk" import roshWidget %}

{% extends "../layout.njk" %}

{% block questions %}
  {% set additionalCommentsInput %}
  {{
      formPageTextArea(
        {
          fieldName: 'additionalComments',
          label: {
            text: page.questions.additionalComments,
            classes: "govuk-label--s"
          },
          classes: 'govuk-!-margin-0'
        },
        fetchContext()
      )
    }}
  {% endset %}

  <h1 class="govuk-heading-l">{{ page.title }}</h1>

  {% if page.risks and page.risks.dateOfOasysImport %}
    {% if page.risks.lastUpdated%}
      <p class="govuk-hint">
        Imported from OASys on <strong>{{page.risks.dateOfOasysImport}}</strong>, last updated on <strong>{{ page.risks.lastUpdated }}</strong>
      </p>
    {% else %}
      <p class="govuk-hint">
        Imported from OASys on <strong>{{page.risks.dateOfOasysImport}}</strong>, last updated: <strong>not known</strong>
      </p>
    {% endif %}
  {% endif %}

  {{ roshWidget(page.risks) }}

  {{ govukDetails({
    summaryText: "Add comments to this summary ",
    html: additionalCommentsInput
  }) }}

{% endblock %}