{% from "govuk/components/table/macro.njk" import govukTable %}

{% macro roshWidget(params) %}
  {% if params %}
    <div class="rosh-widget rosh-widget--{{ params.value.overallRisk | lower | replace(' ', '-') }}">
      <h2 class="govuk-heading-m">
        <strong>{{ params.value.overallRisk | upper }}</strong> RoSH
      </h2>

      {{ govukTable({
        caption: "Risk of serious harm",
        captionClasses: "govuk-table__caption--s govuk-!-font-weight-regular",
        classes: "rosh-widget__table",
        firstCellIsHeader: true,
        head: [
          {
            text: "Risk to"
          },
          {
            text: "Community"
          }
        ],
        rows: [
          [
            {
              text: "Children"
            },
            {
              text: params.value.riskToChildren,
              classes: "rosh-widget__risk--" + params.value.riskToChildren | lower | replace(' ', '-')
            }
          ],
          [
            {
              text: "Public"
            },
            {
              text: params.value.riskToPublic,
              classes: "rosh-widget__risk--" + params.value.riskToPublic | lower | replace(' ', '-')
            }
          ],
          [
            {
              text: "Known adult"
            },
            {
              text: params.value.riskToKnownAdult,
              classes: "rosh-widget__risk--" + params.value.riskToKnownAdult | lower | replace(' ', '-')
            }
          ],
          [
            {
              text: "Staff"
            },
            {
              text: params.value.riskToStaff,
              classes: "rosh-widget__risk--" + params.value.riskToStaff | lower | replace(' ', '-')
            }
          ]
        ]
      }) }}
    </div>
  {% else %}
    <div class="rosh-widget rosh-widget--unknown">
      <h2 class="govuk-heading-m">
        <strong>UNKNOWN LEVEL</strong> RoSH
      </h2>
      <p class="govuk-body-m">Risk of serious harm</p>
      <p class="govuk-hint govuk-body-m">Something went wrong. We are unable to show RoSH information.</p>
    </div>
  {% endif %}

{% endmacro %}
