
{% macro roshWidget(params) %}
  {% if params %}
    <div class="rosh-widget rosh-widget--{{ params.value.overallRisk | lower | replace(' ', '-') }}">
      <h2 class="govuk-heading-m">
        <strong>{{ params.value.overallRisk | upper }}</strong> RoSH
      </h2>
      <p class="govuk-body-m">Risk of serious harm</p>

      <table class="govuk-table rosh-widget__table">
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th class="govuk-table__header">Risk to</th>
            <th class="govuk-table__header">Community</th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <th class="govuk-table__header">Children</th>
            <td class="govuk-table__cell rosh-widget__risk--{{ params.value.riskToChildren | lower | replace(' ', '-') }}">{{ params.value.riskToChildren }}</td>
          </tr>
          <tr>
            <th class="govuk-table__header">Public</th>
            <td class="govuk-table__cell rosh-widget__risk--{{ params.value.riskToPublic | lower | replace(' ', '-') }}">{{ params.value.riskToPublic }}</td>
          </tr>
          <tr>
            <th class="govuk-table__header">Known adult</th>
            <td class="govuk-table__cell rosh-widget__risk--{{ params.value.riskToKnownAdult | lower | replace(' ', '-') }}">{{ params.value.riskToKnownAdult }}</td>
          </tr>
          <tr>
            <th class="govuk-table__header">Staff</th>
            <td class="govuk-table__cell rosh-widget__risk--{{ params.value.riskToStaff | lower | replace(' ', '-') }}">{{ params.value.riskToStaff }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  {% else %}
    <div class="rosh-widget rosh-widget--unknown">
      <h2 class="govuk-heading-m">
        <strong>UNKNOWN LEVEL</strong> RoSH
      </h2>
      <p class="govuk-body-m">Risk of serious harm</p>
      <p class="govuk-hint govuk-body-m">Something went wrong. We are unable to show RoSH information.</p>
    </div>
  {% endif %}

{% endmacro %}
