{% macro getOverallRiskLevelClass(level) %}
  {% if level == 'Very High' %}
rosh-widget--very-high
{% elif level == 'High' %}
rosh-widget--high
{% elif level == 'Medium' %}
rosh-widget--medium
{% elif level == 'Low' %}
rosh-widget--low
{% endif %}
{% endmacro %}

{% macro getRiskLevelText(level) %}
  {% if level == 'Very High' %}
Very high
{% elif level == 'High' %}
High
{% elif level == 'Medium' %}
Medium
{% elif level == 'Low' %}
Low
{% endif %}
{% endmacro %}

{% macro getRiskLevelClass(level) %}
  {% if level == 'Very High' %}
rosh-widget__risk--very-high
{% elif level == 'High' %}
rosh-widget__risk--high
{% elif level == 'Medium' %}
rosh-widget__risk--medium
{% elif level == 'Low' %}
rosh-widget__risk--low
{% endif %}
{% endmacro %}

{% if params and params.status == 'retrieved' %}
  <div class="rosh-widget {{ getOverallRiskLevelClass(params.value.overallRisk) }}">
    <h3 class="govuk-heading-m">
      <strong>{{ getRiskLevelText(params.value.overallRisk) | upper }}</strong> RoSH</h3>
    <p class="govuk-body-m">Risk of serious harm</p>

    <table class="govuk-table rosh-widget__table">
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th class="govuk-table__header">Risk to</th>
          <th class="govuk-table__header">Community</th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <th class="govuk-table__header">Children</th>
          <td class="govuk-table__cell {{ getRiskLevelClass(params.value.riskToChildren) }}">{{ getRiskLevelText(params.value.riskToChildren) | default("No data") }}</td>
        </tr>
        <tr>
          <th class="govuk-table__header">Public</th>
          <td class="govuk-table__cell {{ getRiskLevelClass(params.value.riskToPublic) }}">{{ getRiskLevelText(params.value.riskToPublic) | default("No data") }}</td>
        </tr>
        <tr>
          <th class="govuk-table__header">Known adult</th>
          <td class="govuk-table__cell {{ getRiskLevelClass(params.value.riskToKnownAdult) }}">{{ getRiskLevelText(params.value.riskToKnownAdult) | default("No data") }}</td>
        </tr>
        <tr>
          <th class="govuk-table__header">Staff</th>
          <td class="govuk-table__cell {{ getRiskLevelClass(params.value.riskToStaff) }}">{{ getRiskLevelText(params.value.riskToStaff) | default("No data") }}</td>
        </tr>
      </tbody>
    </table>
  </div>
{% else %}

  <div class="rosh-widget {{ roshWidgetClass }}">
    <h3 class="govuk-heading-m">
      <strong>UNKNOWN LEVEL</strong> RoSH</h3>
    <p class="govuk-body-m">Risk of serious harm</p>
    <p class="govuk-hint govuk-body-m">Something went wrong. We are unable to show RoSH information.</p>
  </div>
{% endif %}