{% extends "../layout.njk" %}
{% block questions %}
  <h1 class="govuk-heading-l">{{ page.title }}</span>

  {{
    formPageRadios(
      {
        fieldName: "isEligible",
        fieldset: {
          legend: {
            text: page.questions.isEligible,
            classes: "govuk-fieldset__legend--m"
          }
        },
        items: page.items()
      },
      fetchContext()
    )
  }}

{% endblock %}
