{% extends "./_health-needs-screen.njk" %}
{% set pageName = "brain-injury" %}

{% block questions %}

  {% set injuryAndNeedsFollowUp %}
  {{
      formPageTextArea(
        {
          fieldName: 'injuryDetail',
          label: {
            text: page.questions.injuryDetail.question,
            classes: "govuk-label--s"
          }
        },
        fetchContext()
      )
    }}
  {% endset %}

  {% set vulnerabilityFollowUp %}
  {{
      formPageTextArea(
        {
          fieldName: 'vulnerabilityDetail',
          label: {
            text: page.questions.vulnerabilityDetail.question,
            classes: "govuk-label--s"
          }
        },
        fetchContext()
      )
    }}
  {% endset %}

  {% set interactionFollowUp %}
  {{
      formPageTextArea(
        {
          fieldName: 'interactionDetail',
          label: {
            text: page.questions.interactionDetail.question,
            classes: "govuk-label--s"
          }
        },
        fetchContext()
      )
    }}
  {% endset %}

  {% set addSupportFollowUp %}
  {{
      formPageTextArea(
        {
          fieldName: 'addSupportDetail',
          label: {
            text: page.questions.addSupportDetail.question,
            classes: "govuk-label--s"
          }
        },
        fetchContext()
      )
    }}
  {% endset %}

  <p class="govuk-body guidance">
    This could be as a result of accident, drug and alcohol use or an inherited condition.
  </p>

  {{
    formPageRadios(
      {
        fieldName: "hasBrainInjury",
        fieldset: {
          legend: {
            text: page.questions.hasBrainInjury.question,
            classes: "govuk-fieldset__legend--m"
          }
        },
        items: [
        {
          value: "yes",
          text: "Yes",
          conditional: {
            html: injuryAndNeedsFollowUp
          }
        },
        {
          value: "no",
          text: "No"
        }
      ]
      },
      fetchContext()
    )
  }}

  {{
    formPageRadios(
      {
        fieldName: "isVulnerable",
        fieldset: {
          legend: {
            text: page.questions.isVulnerable.question,
            classes: "govuk-fieldset__legend--m"
          }
        },
        items: [
        {
          value: "yes",
          text: "Yes",
          conditional: {
            html: vulnerabilityFollowUp
          }
        },
        {
          value: "no",
          text: "No"
        }
      ]
      },
      fetchContext()
    )
  }}

  {{
    formPageRadios(
      {
        fieldName: "hasDifficultyInteracting",
        fieldset: {
          legend: {
            text: page.questions.hasDifficultyInteracting.question,
            classes: "govuk-fieldset__legend--m"
          }
        },
        items: [
        {
          value: "yes",
          text: "Yes",
          conditional: {
            html: interactionFollowUp
          }
        },
        {
          value: "no",
          text: "No"
        }
      ]
      },
      fetchContext()
    )
  }}

  {{
    formPageRadios(
      {
        fieldName: "requiresAdditionalSupport",
        fieldset: {
          legend: {
            text: page.questions.requiresAdditionalSupport.question,
            classes: "govuk-fieldset__legend--m"
          }
        },
        items: [
        {
          value: "yes",
          text: "Yes",
          conditional: {
            html: addSupportFollowUp
          }
        },
        {
          value: "no",
          text: "No"
        }
      ]
      },
      fetchContext()
    )
  }}

{% endblock %}
