{% extends "./_health-needs-screen.njk" %}
{% set pageName = "communication-and-language" %}

{% block questions %}

  <p class="govuk-body">
    Communication and language needs page
  </p>

{% endblock %}
