{% extends "../layout.njk" %}

{% from "govuk/components/details/macro.njk" import govukDetails %}

{% set introduceYourselfTemplate %}
{% include "../../../partials/email-templates/introduce-yourself.njk" %}
{% endset %}

{% set healthQuestionsTemplate %}
{% include "../../../partials/email-templates/health-questions.njk" %}
{% endset %}

{% set mentalHealthQuestionsTemplate %}
{% include "../../../partials/email-templates/mental-health-questions.njk" %}
{% endset %}

{% set drugAlcoholQuestionsTemplate %}
{% include "../../../partials/email-templates/drug-alcohol-questions.njk" %}
{% endset %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-three-quarters">
      <h1 class="govuk-heading-l govuk-!-margin-bottom-4">{{ page.title }}</h1>

      <p class="govuk-body">
      To complete this section, you’ll need to enter health information about the applicant.
      </p>

      <p class="govuk-body">
      Typically, this <strong>could</strong> involve speaking to the following people:
      </p>

      <ul class="govuk-list govuk-list--bullet">
        <li>Healthcare team</li>
        <li>Substance/Drugs team</li>
        <li>Substance mis-use agency</li>
        <li>Mental Health team</li>
        <li>Adult social care</li>
        <li>Nelson Trust</li>
      </ul>

      <h2 class="govuk-heading-m">Getting in touch</h2>

      <p class="govuk-body">
      Select the following links to get supporting text that you can copy into emails or use as a script, to save yourself time. 
      </p>

      <p class="govuk-body">
        <strong>We strongly suggest you get in touch with the relevant health teams and officers now.</strong>
      </p>

      {{ govukDetails({
    summaryText: "Introduce yourself to a team/officer",
    html: introduceYourselfTemplate,
    classes: 'copy-text'
    }) }}

      {{ govukDetails({
    summaryText: "Ask questions about the applicant's physical health",
    html: healthQuestionsTemplate,
    classes: 'copy-text'
    }) }}

      {{ govukDetails({
    summaryText: "Ask questions about the applicant's mental health",
    html: mentalHealthQuestionsTemplate,
    classes: 'copy-text'
    }) }}

      {{ govukDetails({
    summaryText: "Ask questions about the applicant's drug and alcohol needs",
    html: drugAlcoholQuestionsTemplate,
    classes: 'copy-text'
    }) }}

      {{ govukButton({
    text: "Continue",
    href: paths.applications.pages.show({
          id: page.application.id,
          task: 'health-needs',
          page: 'substance-misuse'
        })
    }) }}
    </div>
  </div>
{% endblock %}

{% block extraScripts %}
  <script type="text/javascript" nonce="{{ cspNonce }}">
    function copyToClipboard(divId) {
      const range = document.createRange()
      range.selectNodeContents(document.getElementById(divId));
      const selection = window.getSelection();
      selection.removeAllRanges()
      selection.addRange(range)
      document.execCommand('copy');
      selection.removeAllRanges()
    }

    document.addEventListener('DOMContentLoaded', function () {
      document
        .getElementById('introduce-yourself-button')
        .addEventListener('click', () => copyToClipboard('introduce-yourself-template'));

      document
        .getElementById('health-questions-button')
        .addEventListener('click', () => copyToClipboard('health-questions-template'));

      document
        .getElementById('mental-health-questions-button')
        .addEventListener('click', () => copyToClipboard('mental-health-questions-template'));

      document
        .getElementById('drug-alcohol-questions-button')
        .addEventListener('click', () => copyToClipboard('drug-alcohol-questions-template'));
    });
  </script>
{% endblock %}