{% extends "partials/layout.njk" %}

{% set pageTitle = applicationName + " - " + "Privacy notice"  %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-three-quarters govuk-body">

      <h1 class="govuk-heading-l govuk-!-margin-bottom-4">Privacy notice for Short-Term Accommodation (CAS-2)</h1>

      <p>The Ministry of Justice (MOJ) is committed to the protection and security of your personal information.</p>

      <p>It is important that you read this notice so that you are aware of how and why we are using such information. This privacy notice describes how we collect and use personal information during and after your relationship with us, in accordance with data protection law. They will be updated regularly.</p>

      <p>MOJ is the data controller for the personal data used for the purposes of providing suitable short-term community accommodation for you with the Community Accommodation Service Tier 2 (CAS-2).</p>

      <h2 class="govuk-heading-m">The type of personal data we process</h2>

      <p>
          We currently collect and use the following information:
        </p>

      <ul class="govuk-list govuk-list--bullet govuk-list--spaced">
        <li>Name</li>
        <li>Address history</li>
        <li>Contact details</li>
        <li>Employment details</li>
      </ul>

      <p>
          We also collect special categories of information, such as:
        </p>

      <ul class="govuk-list govuk-list--bullet govuk-list--spaced">
        <li>race and ethnicity</li>
        <li>religious or philosophical beliefs</li>
        <li>health</li>
        <li>sex, gender and sexual orientation</li>
        <li>immigration status</li>
        <li>veteran status</li>
        <li>care leaver status</li>
        <li>relationship status</li>
        <li>caring or parental responsibilities</li>
        <li>criminal convictions</li>
        <li>personal connections to geographic areas</li>
        <li>National Insurance (NI) number</li>
      </ul>

      <h2 class="govuk-heading-m">How we collect your personal data and why we have it</h2>

      <p>
          Most of the personal information we process is provided to us directly by you for one of the following reasons:
        </p>

      <ul class="govuk-list govuk-list--bullet govuk-list--spaced">
        <li>to complete and submit an online application for short-term CAS-2 accommodation on your behalf</li>
        <li>to assess and make a decision on your suitability for CAS-2 accommodation</li>
      </ul>

      <p>
          We also receive personal information indirectly, from the following sources in the following scenarios:
        </p>

      <ul class="govuk-list govuk-list--bullet govuk-list--spaced">
        <li>Prison drug and alcohol provider, mental health in-reach and healthcare team about your health needs</li>
        <li>OASys for information on your level of risk to yourself, public, known adults, staff and children</li>
        <li>Nomis or Digital Prison Services (DPS) for information on your offence history</li>
        <li>NDelius for information on your probation</li>
        <li>your community probation practitioner (CPP), also known as community offender manager (COM), for information on your probation</li>
      </ul>

      <p>
          We use the personal data we receive in order to: 
        </p>

      <ul class="govuk-list govuk-list--bullet govuk-list--spaced">
        <li>make an assessment of your suitability for CAS-2 accommodation</li>
        <li>match you with appropriate CAS-2 accommodation when you qualify</li>
        <li>monitor whether applicants with certain characteristics (for example, gender, sexual orientation, age, ethnic background, faith, and disability) have different success rates in being accepted into CAS-2 to ensure that no group is treated unfairly</li>
      </ul>

      <p>
          We may share this information with: 
        </p>

      <ul class="govuk-list govuk-list--bullet govuk-list--spaced">
        <li>Nacro</li>
      </ul>

      <p>
          Under the UK General Data Protection Regulation (UK GDPR), the lawful bases we rely on for processing this information are:
        </p>

      <p>
          (b) We have a contractual obligation
        </p>

      <p>
          (e) We need it to perform a public task
        </p>

      <p>
          The legal bases on which the MOJ processes special categories of information you have provided, is on the basis of:
        </p>

      <ul class="govuk-list govuk-list--bullet govuk-list--spaced">
        <li>the processing being necessary for the MOJ in the field of employment, social security and social protection law</li>
      </ul>

      <h2 class="govuk-heading-m">International data transfers</h2>

      <p>
          There are no international transfers.
        </p>

      <h2 class="govuk-heading-m">How we store your personal data</h2>

      <p>
          Personal data is stored securely and in accordance with the <a href="https://www.gov.uk/government/publications/record-retention-and-disposition-schedules" class="govuk-link">MOJ data retention schedule (opens in new tab)</a>. At the end of this period your data is disposed of.
        </p>

      <h2 class="govuk-heading-m">Your rights</h2>

      <ul class="govuk-list govuk-list--bullet govuk-list--spaced">
        <li>Your right of <b>access</b> - you have the right to ask us for copies of your personal information.</li>
        <li>Your right to <b>rectification</b> - you have the right to ask us to rectify personal information you think is inaccurate. You also have the right to ask us to complete information you think is incomplete.</li>
        <li>Your right to <b>restriction</b> of processing - you have the right to ask us to restrict the processing of your personal information in certain circumstances.</li>
      </ul>

      <p>
          Depending on the lawful basis on which your personal data is being processed, not all rights will apply.
        </p>

      <p>
          You are not required to pay any charge for exercising your rights. If you make a request, we have 1 month to respond to you.
        </p>

      <p>
          If you wish to exercise your data protection rights please contact:
        </p>

      <p>
          Offender and ex-offenders;
          <br>Branston Registry
          <br>Building 16, S & T Store
          <br>Burton Road
          <br>Branston
          <br>Burton-on-Trent
          <br>Staffordshire
          <br>DE14 3EG
      </p>

      <p>
          data.access1@justice.gov.uk 
        </p>

      <p>
          All others;
          <br>Disclosure Team
          <br>Post point 10.38
          <br>102 Petty France
          <br>London
          <br>SW1H 9AJ
      </p>

      <p>
          data.access@justice.gov.uk
        </p>

      <h2 class="govuk-heading-m">How to complain</h2>

      <p>
          If you have any concerns about our use of your personal data, you can contact the MOJ data protection officer;
        </p>

      <p>
          Data Protection Officer
          <br>Ministry of Justice
          <br>5th Floor, Post Point 5.18
          <br>102 Petty France
          <br>London
          <br>SW1H 9AJ
      </p>

      <p>
          dpo@justice.gov.uk 
        </p>

      <p>
          You can also complain to the Information Commissioner’s Office (ICO) if you are unhappy with how we have used your data.
        </p>

      <p>
          Information Commissioner’s Office
          <br>Wycliffe House
          <br>Water Lane
          <br>Wilmslow
          <br>Cheshire
          <br>SK9 5AF
      </p>

      <p>
          Helpline number: 0303 123 1113
        </p>

      <p>
          ICO website: <a href="https://www.ico.org.uk">https://www.ico.org.uk</a>
      </p>

      <p>
          Date of last review: 19 December 2023
        </p>
    </div>

  </div>
</div>
{% endblock %}