{% extends "../layout.njk" %}
{% block questions %}

  {% set hintHtml %}
    <div class="govuk-warning-text">
      <span class="govuk-warning-text__icon govuk-!-margin-top-1" aria-hidden="true">!</span>
      <strong class="govuk-warning-text__text">
        <span class="govuk-visually-hidden">Warning</span>
        Spent convictions are protected by law and should not be disclosed. <a href="https://www.gov.uk/tell-employer-or-college-about-criminal-record/check-your-conviction-caution" class="govuk-link govuk-link--no-visited-state" rel="noreferrer noopener" target="_blank">Check if a conviction is spent or unspent (opens in a new tab)</a>.           </strong>
    </div>
  {% endset %}

  {{
    formPageRadios(
      {
        fieldName: "hasAnyPreviousConvictions",
        fieldset: {
          legend: {
            text: page.questions.hasAnyPreviousConvictions.question,
            isPageHeading: true,
            classes: "govuk-fieldset__legend--l"
          }
        },
        hint: {
          html: hintHtml
        },
        items: [
          {
            value: 'yesRelevantRisk',
            text: page.questions.hasAnyPreviousConvictions.answers.yesRelevantRisk,
            hint: {
              text: 'Includes stalking, harassment, weapons, firearms, arson, domestic abuse, hate crimes, drugs and any behaviour where the person is a risk to themselves or others.'
            }
          },
          {
            value: 'yesNoRelevantRisk',
            text: page.questions.hasAnyPreviousConvictions.answers.yesNoRelevantRisk,
            hint: {
              text: "For example, a theft offence with no violence would not be relevant when assessing the applicant's risk."
            }
          },
          {
            value: 'no',
            text: page.questions.hasAnyPreviousConvictions.answers.no
          }
        ]
      },
      fetchContext()
    )
  }}
{% endblock %}
