{% extends "../layout.njk" %}
{% block questions %}
  <h1 class="govuk-heading-l">{{ page.questions.hasAnyPreviousConvictions.question }}</h1>

  {{
    formPageRadios(
      {
        fieldName: "hasAnyPreviousConvictions",
        items: page.items()
      },
      fetchContext()
    )
  }}
{% endblock %}
