{% from "govuk/components/warning-text/macro.njk" import govukWarningText %}
{% from "govuk/components/select/macro.njk" import govukSelect %}
{% from "govuk/components/notification-banner/macro.njk" import govukNotificationBanner %}
{% from "govuk/components/details/macro.njk" import govukDetails %}
{% from "../../../components/formFields/form-page-date-input/macro.njk" import formPageDateInput %}

{% extends "../layout.njk" %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="{{ columnClasses | default("govuk-grid-column-two-thirds") }}">
      {{ showErrorSummary(errorSummary) }}

      {% if successMessages %}
        {% for message in successMessages %}
          {{ govukNotificationBanner({
                html: '<h3 class="govuk-!-margin-top-2">' + message + '</h3>',
                type: 'success',
                titleId: 'success-title'
              }) }}
        {% endfor %}
      {% endif %}
      <h1 class="govuk-heading-l govuk-!-margin-bottom-4">{{ page.title }}</h1>

      <div class="govuk-warning-text">
        <span class="govuk-warning-text__icon govuk-!-margin-top-1" aria-hidden="true">!</span>
        <strong class="govuk-warning-text__text">
          <span class="govuk-visually-hidden">Warning</span>
            Do not disclose spent convictions, which are protected by law. <a href="https://www.gov.uk/tell-employer-or-college-about-criminal-record/check-your-conviction-caution" class="govuk-link govuk-link--no-visited-state" rel="noreferrer noopener" target="_blank">Check if a conviction is spent (opens in a new tab)</a> before adding it.          </strong>
      </div>

      <div class="govuk-body">
        <p>You only need to record unspent offences with risk relevant to placement in the community.</p>

        {{ govukDetails({
          summaryText: "Offence types with relevant risk",
          html: '<p>You should include offences relating to:
            <ul class="govuk-!-margin-bottom-0">
            <li>stalking or harassment</li>
            <li>weapons or firearms</li>
            <li>arson</li>
            <li>violence</li>
            <li>domestic abuse</li>
            <li>hate crimes</li>
            <li>drugs</li>
            <li>any behaviour where the applicant is a risk to themselves or others</li>
          </ul>
          <p>'
        }) }}

        <p>If a current risk, such as a restraining order, is linked to a spent conviction that should not be disclosed, you should add the risk to the relevant section.</p>

      </div>

      <form id="form" action="{{ paths.applications.appendToList({ id: applicationId, task: page.taskName, page: page.name }) }}?_method=PUT" method="post" autocomplete="off">
        <input type="hidden" name="_csrf" value="{{ csrfToken }}"/>

        {{
            formPageInput(
              {
                label: { 
                  text: page.questions.offenceGroupName.question,
                  classes: "govuk-label--m" 
                },
                classes: "govuk-input--width-20",
                fieldName: "offenceGroupName",
                hint: {
                  text: page.questions.offenceGroupName.hint
                }
              },
              fetchContext()
            )
        }}

        {{
            govukSelect({
                  label: { 
                    text: page.questions.offenceCategory.question,
                    classes: "govuk-label--m" 
                  },
                  id: "offenceCategory",
                  name: "offenceCategory",
                  items: page.offenceCategories,
                  errorMessage: errors.offenceCategory
              })
        }}

        {{
            formPageInput(
              {
                label: { 
                  text: page.questions.numberOfOffences.question,
                  classes: "govuk-label--m" 
                },
                classes: "govuk-input--width-5",
                fieldName: "numberOfOffences",
                hint: {
                  text: page.questions.numberOfOffences.hint
                }
              },
              fetchContext()
            )
        }}

        {{
            formPageInput(
              {
                label: { 
                  text: page.questions.sentenceTypes.question,
                  classes: "govuk-label--m" 
                },
                classes: "govuk-input--width-20",
                fieldName: "sentenceTypes",
                hint: {
                  text: page.questions.sentenceTypes.hint
                }
              },
              fetchContext()
            )
        }}

        {{
            formPageTextArea(
              {
                fieldName: "summary",
                label: {
                  text: page.questions.summary.question,
                  classes: "govuk-label--m"
                },
                hint: {
                  html: page.questions.summary.hint
                }
              },
              fetchContext()
            )
        }}

        {% block button %}
          <div class="govuk-button-group">
            {{ govukButton({
                  text: "Save and add offence"
              }) }}
            <a class="govuk-link" href="{{ paths.applications.pages.show({ id: applicationId, task: 'offending-history', page: 'offence-history' }) }}">
                Cancel
            </a>
          </div>
        {% endblock %}
      </form>
    </div>
  </div>

{% endblock %}