{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% from "govuk/components/details/macro.njk" import govukDetails %}
{% from "govuk/components/table/macro.njk" import govukTable %}
{% from "../../../components/formFields/form-page-date-input/macro.njk" import formPageDateInput %}

{% extends "../layout.njk" %}

{% block questions %}

  <h1 class="govuk-heading-l govuk-!-margin-bottom-4">{{ page.title }}</h1>
  <div class="govuk-body">
    <p>
      You only need to record unspent offences with risk relevant to placement in the community.
    </p>

    {{ govukDetails({
      summaryText: "Offence types with relevant risk",
      html: '<p>You should include offences relating to:
        <ul class="govuk-!-margin-bottom-0">
        <li>stalking or harassment</li>
        <li>weapons or firearms</li>
        <li>arson</li>
        <li>violence</li>
        <li>domestic abuse</li>
        <li>hate crimes</li>
        <li>drugs</li>
        <li>any behaviour where the applicant is a risk to themselves or others</li>
      </ul>
      <p>'
    }) }}
  </div>

  {% if page.tableRows() | length %}

    {% from "govuk/components/table/macro.njk" import govukTable %}

    {{ govukTable({
        firstCellIsHeader: true,
        head: [
          {
            text: "Offence"
          },
          {
            text: "Type"
          },
          {
            text: "Number of offences"
          },
          {
            text: ""
          }
        ],
        rows: page.tableRows()
      }) }}

  {% else %}
    <p class="govuk-body govuk-!-font-weight-bold">No previous offences have been added.</p>
  {% endif %}

  <div>
    {{ govukButton({
            text: "Add a previous offence",
            classes: "govuk-button--secondary",
            href: paths.applications.pages.show({ id: applicationId, task: 'offending-history', page: 'offence-history-data' })
          }) }}
  </div>

{% endblock %}