---
# Per environment values which override defaults in approved-premises-ui/values.yaml

generic-service:
  ingress:
    hosts:
      - community-accommodation-tier-2-preprod.hmpps.service.justice.gov.uk
    contextColour: green
    tlsSecretName: hmpps-community-accommodation-tier-2-preprod-cert

  env:
    ENVIRONMENT: preprod
    APPROVED_PREMISES_API_URL: 'https://approved-premises-api-preprod.hmpps.service.justice.gov.uk'
    INGRESS_URL: 'https://community-accommodation-tier-2-preprod.hmpps.service.justice.gov.uk'
    HMPPS_AUTH_URL: 'https://sign-in-preprod.hmpps.service.justice.gov.uk/auth'
    TOKEN_VERIFICATION_API_URL: 'https://token-verification-api-preprod.prison.service.justice.gov.uk'
    COMMUNITY_ACCOMMODATION_API_TIMEOUT_RESPONSE: 30000
    COMMUNITY_ACCOMMODATION_API_TIMEOUT_DEADLINE: 30000
    IN_MAINTENANCE_MODE: false
    PLANNED_MAINTENANCE_BANNER: true

  namespace_secrets:
    sqs-hmpps-audit-secret:
      AUDIT_SQS_QUEUE_URL: 'sqs_queue_url'
      AUDIT_SQS_QUEUE_NAME: 'sqs_queue_name'

  allowlist: null

generic-prometheus-alerts:
  alertSeverity: hmpps-approved-premises
