{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "../../components/formFields/form-page-radios/macro.njk" import formPageRadios %}

{% extends "../../partials/layout.njk" %}
{% from "../../partials/showErrorSummary.njk" import showErrorSummary %}

{% set pageTitle = applicationName + " - " + page.title %}
{% set mainClasses = "app-container govuk-body" %}
{% block content %}
  <div class="govuk-grid-row">
    <div class="{{ columnClasses | default("govuk-grid-column-two-thirds") }}">
      <form action="{{ paths.applications.pages.update({ id: applicationId, task: task, page: page.name }) }}?_method=PUT" method="post">
        <input type="hidden" name="_csrf" value="{{ csrfToken }}"/>

        {{ showErrorSummary(errorSummary) }}

        {% block questions %}{% endblock %}
        {{ govukButton({
            text: "Save and continue"
        }) }}
      </form>
    </div>
  </div>
{% endblock %}
