{% extends "../partials/layout.njk" %}

{% block pageTitle %}Download reports{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <h1 class="govuk-heading-l">Management information reports</h1>
    <p>Download management information in spreadsheet format</p>

    {% block button %}
      <div class="govuk-button-group">
        {{ govukButton({
              text: "Submitted applications",
              href: paths.report.create({
                      name: "submitted-applications"
                    })
      }) }}
      </div>
    {% endblock %}
  </div>
{% endblock %}
